phash:
  active_monitoring:
    MySQL:
      defaults:
        connection:
          user: a_user
          pass: a_pass
          host: a_host
        monitorings:
          cron: '0 * * * *'
          priority: 1
      monitorings:
        monitoring id 1:
          connection:
            user: another_user
            pass: another_pass
          connector:
            sql: SELECT foo, x FROM bar
          options:
            cron: '* * * * *'
            failure_conditions:
              - (foo > 5) && x == 0
            payload: Foo is {foo} and x is {x}
            idleTimeoutInSeconds: 120
            priority: 1
            path: ~
